<%- include('header'); -%> 
    <div class="content">
        <h1>Name</h1>
        <h3>Muhammad Nemr Aslam</h3>
        <br>
        <h1>Address</h1>
        <h3>dubai uae</h3>
        <br>
        <h1>Phone</h1>
        <h3>05088584</h3>
        <br>
        <h1>Email</h1>
        <h3>ma456@hw.ac.uk</h3>
    </div>
<%- include('footer'); -%>